.custom1{
    border-bottom: 2px solid rgba(255, 255, 255, 0.15);
    background: #060B19;
}
  
.custom2{
    border-bottom: 2px solid rgba(255, 255, 255, 0.15);
    border-right: 2px solid rgba(255, 255, 255, 0.15);
}

.heroh{
    height: 57vh;
}

.transition-entering {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.5s, transform 0.5s;
}
  
.transition-exiting {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.5s, transform 0.5s;
}