.custom1{
    border-bottom: 2px solid rgba(255, 255, 255, 0.15);
    background: #060B19;
}
  
.custom2{
    border-bottom: 2px solid rgba(255, 255, 255, 0.15);
    border-right: 2px solid rgba(255, 255, 255, 0.15);
}