@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,500&family=Rubik&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0px;
    padding: 0px;
}

:root{
    cursor: none;
}

body{
    background-color: #060B19;
}

html{
    scroll-behavior: smooth;
}

.fontlg{
    font-family: "Roboto Serif";
}

.fontsm{
    font-family: "Rubik";
}

::-webkit-scrollbar{
    width: 14px;
}
::-webkit-scrollbar-track {
    background-color: #060B19;
}
::-webkit-scrollbar-thumb {
    background-color: #d9d9d9;
    border-left: 2px solid #060B19;
}
::-webkit-scrollbar-thumb:hover{
    background: #d9d9d990;
}